appscript==1.2.5
choreographer==1.2.1
colorama==0.4.6
docx2pdf==0.1.8
et-xmlfile==1.1.0
iniconfig==2.3.0
kaleido==1.2.0
logistro==2.0.1
lxml==5.1.0
narwhals==2.15.0
numpy==1.26.3
openpyxl==3.1.2
orjson==3.11.5
packaging==23.2
pandas==2.1.4
plotly==6.5.2
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
pytest-timeout==2.4.0
python-dateutil==2.8.2
pytz==2023.3.post1
simplejson==3.20.2
six==1.16.0
tenacity==8.2.3
tqdm==4.66.1
tzdata==2023.4
